{:paths ["src"]
  :deps {thheller/shadow-cljs {:mvn/version "2.15.12"}
         org.clojure/clojure {:mvn/version "1.10.3"}
         org.clojure/clojurescript {:mvn/version "1.10.879"}
         com.google.javascript/closure-compiler-unshaded {:mvn/version "v20210505"}
         com.bhauman/figwheel-main {:mvn/version "0.2.15"}
         instaparse/instaparse {:mvn/version "1.4.11"}
         org.clojure/core.match {:mvn/version "1.0.0"}
         reagent/reagent {:mvn/version "1.1.1"}}
 :mvn/repos
{"central" {:url "https://repo1.maven.org/maven2/"}
 "clojars" {:url "https://clojars.org/repo"}} 
 :aliases {:cambada
           {:extra-deps
            {luchiniatwork/cambada
             {:mvn/version "1.0.5"}}}
           :native-image
           {:main-opts ["-m" "clj.native-image" "server.app"
                        "--initialize-at-build-time"
                        "-H:+ReportExceptionStackTraces"
                        "-H:Log=registerResource:"
                        "-H:+JNI"
                        "--no-fallback"
                        "--no-server"
                        "-J-Xmx3g"
                        "-H:Name=toylang"]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"
                       "-Dclojure.spec.skip-macros=true"]
            :extra-deps
            {clj.native-image/clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}}
}
